<a href="/#!/">Return back</a>
<div class="detail-device">
  <div class="image-wrapper">
    <img ng-src="{{$ctrl.device.image_url}}" class="device-image" height="200" />
  </div>

  <div class="info-wrapper">
    <h1 class="title">{{$ctrl.device.title}}</h1>
    <div class="description">{{ $ctrl.device.description }}</div>
  </div>
  <div class="clear"></div>
  <ul class="device-categories">
    <li ng-repeat="(title, category) in $ctrl.device.categories">
      <div class="category-title">{{ title }}</div>
      <ul class="category-detail">
        <li class="category-item" ng-repeat="(tech, descr) in category">
          <div class="tech-title">{{tech}}</div>
          <div class="tech-descr">{{descr}}</div>
        </li>
      </ul>
    </li>
  </ul>
</div>
