doctype html
html ng-app="deviceFinderApp"
  head
    title
      | Find Device
    
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/app.css">
    <script src="/assets/javascripts/app.js"></script>
  body
    == yield