<div class="devices-block">
  <div class="search">
    <form ng-submit="$ctrl.search()">
      <input type="text" class="search-input" ng-model="$ctrl.query" />
      <select ng-init="$ctrl.resource = $ctrl.sources[0]" ng-model="$ctrl.resource">
        <option ng-repeat="option in $ctrl.sources" value="{{option}}">{{option}}</option>
      </select>
      <input type="submit" id="search_btn" value="Search" />
    </form>
  </div>

  <ul class="devices-list">
    <li ng-repeat="device in $ctrl.devices" class="device-item">
      <img ng-src="{{device.image_url}}" height="100" />
      <a class="device-detail-link" href="#!/detail/{{$ctrl.resource}}/{{device.detail_path}}">{{device.title}}</a>
    </li>
  </ul>
</div>
