.clear
  clear: both
.main
  width: 960px
  margin: 0 auto

  .devices-block
    .search
      margin: 0 auto
      width: 200px
    .devices-list
      list-style-type: none
      text-align: center
      display: block
      float: left
      margin-left: 35px
      .device-item
        display: block
        float: left
        width: 150px
        height: 150px
        margin: 5px
        border: 1px solid #f5f5f5
      
        .device-detail-link
          display: block
          color: gray
          text-align: center
          text-decoration: none
          margin-top: 10px
          &:hover
            background-color: #5a6fbd
            color: white
            text-decoration: underline

  .detail-device
    display: block
    float: left
    margin-top: 50px
    .info-wrapper
      display: block
      float: left
      margin-left: 20px
      width: 640px
      .title
        font-family: Verdana, Geneva, sans-serif
        font-size: 22px
    .device-categories
      margin-left: -40px
      list-style-type: none
      .category-title
        padding: 5px
        background-color: #d5edf5
      .category-detail
        padding: 5px
        background-color: #fff3e0
        list-style-type: none
        .category-item
          margin-left: 20px
          margin-top: 7px
          .tech-title
            font-weight: bold
            font-size: 14px
    .image-wrapper
      width: 250px
      height: 200px
      float: left
      border: 1px solid #f5f5f5
      text-align: center
      padding: 20px

